
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditProfile</title>
</head>
<body>
    <div>
    </div>
    <script src="~/Script/Script.js"></script>
</body>
</html>
