
@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css'>

    <style>
        body {
            background: #eee;
        }

        html,
        body,
        .view {
           
        }

        .navbar-brand {
            color: #fff !important;
        }

        .profile-photo {
            width: 50px;
            height: 50px;
        }

        .flex-menu {
            display: flex;
        }

            .flex-menu li:not(:last-child) {
                margin-right: 40px;
            }

        .S {
            display: block;
            max-width: 100%;
            height: 309px;
        }
        .full-bg-img, .view .content, .view .mask {
            left: 0;
            overflow: hidden;
            /* height:100%; */
            width: 100%;
            top: 0
        }
    </style>
</head>
<body>
    <main>



    </main>
    <script src="~/Script/Script.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.3/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/js/mdb.min.js'></script>
    <script>

        // Redirect to the followers page with user ID when clicking on follower count
        $(document).on("click", "#follower-count", function () {
            var userId = $(this).data("user-id");
            window.location.href = '/Home/followers/?userId=' + userId;
        });

        // Redirect to the followings page with user ID when clicking on following count
        $(document).on("click", "#following-count", function () {
            var userId = $(this).data("user-id");
            window.location.href = '/Home/followings/?userId=' + userId;
        });

        $(document).ready(function () {
            function getUserIdFromUrl() {
                // Get the current URL
                var url = window.location.href;

                // Extract the query string part of the URL
                var queryString = url.split('?')[1];

                // Split the query string into key-value pairs
                var queryParams = queryString.split('&');

                // Loop through the key-value pairs to find the userId parameter
                for (var i = 0; i < queryParams.length; i++) {
                    var pair = queryParams[i].split('=');
                    if (pair[0] === 'userId') {
                        // Return the value of the userId parameter
                        return parseInt(pair[1]); // Convert to integer
                    }
                }

                // Return null if userId parameter is not found
                return null;
            }

            // Get the user ID from the URL
            const userId = getUserIdFromUrl();

            // Now you can use the userId as needed
            console.log("User ID:", userId);


            $.ajax({
                url: '/api/post/GetUserProfileAndPosts',
                type: 'GET',
                data: { userId: userId },
                success: function (response) {
                    var userProfile = response.UserProfile[0];
                    var pic = userProfile.ProfilePictureURL;
                    var picc = "/" + pic;

                    // Create HTML block
                    var htmlBlock = '<div class="container">' +
                        '<div class="row m-b-r m-t-3">' +
                        '<div class="col-md-2 offset-md-1">' +
                        '<div class="profile-img">' +
                        '<img src="' + picc + '" alt="" class="img-circle img-fluid" id="profile-picture">' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-9 p-t-2">' +
                        '<h2 class="h2-responsive" id="username">' + userProfile.Username + '</h2>' +
                        '<p id="fullname">' + userProfile.FullName + '</p>' +
                        '<ul class="flex-menu" id="user-stats">' +
                        '<li><strong id="post-count">' + userProfile.PostCount + '</strong> posts</li>' +
                        '<li  id="follower-item"><strong data-user-id="' + userId + '" id="follower-count">' + userProfile.FollowerCount + '</strong> followers</li>' +
                        '<li  id="following-item"><strong data-user-id="' + userId + '" id="following-count">' + userProfile.FollowingCount + '</strong> following</li>' +
                        '</ul>' +
                        '</div>' +
                        '</div>' +
                        '<div class="row" id="user-posts">';

                    // Append user posts
                    response.UserPosts.forEach(function (post) {
                        var postImageUrl = "/" + post.MediaURL;
                        htmlBlock += '<div class="col-sm-12 col-md-6 col-lg-4">' +
                            '<div class="view overlay hm-black-light m-b-2">' +
                            '<img src="' + postImageUrl + '" class="img-fluid S" alt="">' +
                            '<div class="mask flex-center">' +
                            '<ul class="flex-menu">' +
                            '<li><p class="white-text"><i class="fa fa-comment" aria-hidden="true"></i> ' + post.CommentsCount + '</p></li>' +
                            '<li><p class="white-text"><i class="fa fa-heart" aria-hidden="true"></i> ' + post.LikesCount + '</p></li>' +
                            '</ul>' +
                            '</div>' +
                            '</div>' +
                            '</div>';
                    });

                    // Close the HTML block
                    htmlBlock += '</div></div>';

                    // Append the HTML block to the main element
                    $('main').append(htmlBlock);
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching user profile and posts:', error);
                }
            });

        });

    </script>

</body>
</html>
